<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tiny.cloud/1/s5b8jmmq6w03xfpbxoe6eophnsimtz9igqk61qsmgq2d2l97/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Document</title>
</head>
<body>
    <h1>wysiwyg</h1>

    <h3>Lihat List Post: <a href="/">Disini</a></h3>
    
    <form action="/insert-post" method="POST">
        <label for="nama">Nama</label>
        <input type="text" name="title">
        <br>
        <label for="post">Post</label>
        <textarea name="body">
            <p>Cloudias Imani Pradana</p>
        </textarea>
        <button type="submit" id="form-button">Submit</button>
    </form>

    <script src="/js/main.js"></script>
</body>
</html>