<!--Contact_section start -->
<div class="contact_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="touch_text">Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="contact_section_2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="/img/github2.jpg" style="max-width: 100%;padding-left: 30px; ">
                        <p class="email-text"><a href="https://www.github.com/Cloumus30">Cloumus30</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="/img/world-wide-web2.png" style="max-width: 100%;padding-left: 30px;">
                        <p class="email-text"><a href="https://cloumus30.github.io/">Cloumus30.github.io</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="/img/email-icon.png" style="max-width: 100%; padding-left: 30px; padding-top: 50px;">
                        <p class="email-text"><a href="#">punjercoding30@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Contact_section end -->