    <div class="header_main py-0" style="background-color: #232323;">
		<div class="container">
			<div class="logo my-0"><a class="my-0" href="index.html"><img class="my-0" style="width: 300px; height: 150px;" src="/img/logo-punjer.jpg"></a></div>
		</div>
	</div>
	</div>
	<div class="header">
		<div class="container">
        <!--  header inner -->
            <div class="col-sm-12">
                 
                 <div class="menu-area">
                    <nav class="navbar navbar-expand-lg ">
                        <!-- <a class="navbar-brand" href="#">Menu</a> -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                    <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a> 
                                </li>
                               <li class="nav-item">
                                    <a class="nav-link" href="/about">ABOUT</a>
                                </li>
                               <li class="#" href="#">
      	                            <a class="nav-link" href="/blog">BLOG</a>
                                </li>
                                <li class="nav-item" href="#">
                                    <a class="nav-link" href="/paket-soal">LATIHAN SOAL</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <% if (locals.user !== null) { %>
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <%= locals.user.name %> 
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Account</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="/logout">Logout</a>
                                          </div>
                                    <% }else{ %>
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tamu
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/login">Login</a>
                                          </div>
                                    <% } %> 
                                  </li>
                                  
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div> 
    </div>
    <!--  header end --> 